<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- BULMA CSS FRAMEWORK -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/public/style.css" />

    <title>Contact Info Book</title>
  </head>
  <body>
    <div class="container is-max-desktop">
      <div class="notification">
        <main><%- body %></main>

        <!-- FOOTER -->
        <footer class="footer">
          <div class="content has-text-centered">
            <p>
              <strong>Sample Address Book</strong> by
              <a href="https://github.com/doricwhite">Doric White</a>. Completed
              in November 2021
            </p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
