<% layout('/layout/template') %>

<!--ADD INFORMATION TO THE ADDRESS BOOK -->
<div class="container is-widescreen">
  <div class="notification is-primary">
    <!--FORM START-->
    <form action=""></form>
    <!--FORM END-->
  </div>
</div>
